<!doctype html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>实时温度监测报警系统</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="/images/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="温度监测报警" />
    <link rel="apple-touch-icon-precomposed" href="/images/app-icon72x72@2x.png">
    <meta name="msapplication-TileImage" content="/images/app-icon72x72@2x.png">
    <meta name="msapplication-TileColor" content="#44B47E">
    <!-- Startup Image -->
    <link rel="apple-touch-startup-image" href="/images/startup-640x1096.png">
    <!-- <link rel="stylesheet" href="/stylesheets/amazeui.min.css"> -->
    <link rel="stylesheet" href="http://cdn.amazeui.org/amazeui/2.6.1/css/amazeui.min.css">
    <link rel="stylesheet" href="/stylesheets/index.min.css">
    <style type="text/css">

    </style>
</head>

<body class="bkg-norm">
    <!-- 页头 50px -->
    <header data-am-widget="header" class="am-header" style="margin-top: 10px;">
        <div class="am-header-left am-header-nav">
            <!-- <a href="/login" class="" style="color: #FEFFFF;">
                <i class="am-header-icon am-icon-get-pocket"></i>
                <i class="fa fa-bell-o" aria-hidden="true"></i>
            </a> -->
            <i class="am-header-icon am-icon-user am-btn js-modal-open" style="color: #FEFFFF;" id="loginPopBtn"></i>
        </div>
        <h1 class="am-header-title" style="color: #FEFFFF;font-size: 1.8rem;">
            实时温度
            <div style="font-size: 13px;line-height: 14px;" id="ModelSelected">自动模式</div><!-- 正常模式、自动模式、 -->
      </h1>
        <div class="am-header-right am-header-nav" style="right: 20px;color: #FEFFFF;display: none;" id="warningHistory">
            <a href="/warningRecord" class="" style="color: #FEFFFF;">
                <i class="am-header-icon am-icon-bell-o"></i>
            </a>
        </div>
    </header>
    <div style="" id="tempBackPannel">
        <!-- 实时温度显示 200px-->
        <div class='wrap'>
            <div style="position: absolute;top: 45px;width: 100%;text-align: center;">
                <div style="font-size: 10px;line-height: 20px;opacity: 0.8">摄氏温度 参考值</div>
                <div style="font-size: 40px;line-height: 45px;margin-top: 10px;"><span style="font-size: 50px;font-weight: 700;" id="realTimeCirleTemp">－</span>&#8451;</div>
                <div style="font-size: 12px;line-height: 20px;margin-top: 10px;font-weight: 400;">室内温度</div>
            </div>
            <div class='circle'></div>
            <div class='circle'></div>
            <div class='circle'></div>
            <div class='circle'></div>
            <div class='circle'></div>
        </div>
        <!-- 历史温度曲线图 -->
        <div style="padding: 0 10px;">
            <div style="width: 100%;height: 300px;" id="tempTrendChart"></div>
        </div>
    </div>
    <!-- 表格显示概览信息 -->
    <div style="width: 100%;margin: 10px 0 20px 0;text-align: center;" id="tableInfo">
        <div class="am-g" style="height: 120px;border: 1px solid #feffff;border-width: 1px 0;">
            <div class="am-u-sm-6" style="height: 100%;border-right: 1px solid #feffff;padding: 30px">
                <div style="font-size: 14px;color:#FEFFFF;opacity: 0.7; ">温度（&#8451;）</div>
                <div style="font-size: 35px;color:#FEFFFF;font-weight: 800;" id="tableRtTemp">－</div>
            </div>
            <div class="am-u-sm-6" style="height: 100%;padding: 30px;">
                <div style="font-size: 14px;color:#FEFFFF;opacity: 0.7; ">湿度（％）</div>
                <div style="font-size: 35px;color:#FEFFFF;font-weight: 800;" id="tableRtHumd">－</div>
            </div>
        </div>
        <!--         <div class="am-g" style="height: 120px;border: 1px solid #feffff;border-width: 0 0 1px 0;">
            <div class="am-u-sm-6" style="height: 100%;border-right: 1px solid #feffff;padding: 30px">
                <div style="font-size: 14px;color:#FEFFFF;opacity: 0.7;">平均温度（&#8451;）</div>
                <div style="font-size: 35px;color:#FEFFFF;font-weight: 800;" id="tableAverageTemp">－</div>
            </div>
            <div class="am-u-sm-6" style="height: 100%;padding: 30px;">
                <div style="font-size: 14px;color:#FEFFFF;opacity: 0.7; ">平均温度（％）</div>
                <div style="font-size: 35px;color:#FEFFFF;font-weight: 800;" id="tableAverageHumd">－</div>
            </div>
        </div> -->
        <div class="am-g" style="height: 120px;border: 1px solid #feffff;border-width: 0 0 1px 0;">
            <div class="am-u-sm-6" style="height: 100%;border-right: 1px solid #feffff;padding: 30px">
                <div style="font-size: 14px;color:#FEFFFF;opacity: 0.7; ">监控位置</div>
                <div style="font-size: 16px;color:#FEFFFF;font-weight: 600; line-height: 50px;">明理楼机房302</div>
            </div>
            <div class="am-u-sm-6" style="height: 100%;padding: 30px;">
                <div style="font-size: 14px;color:#FEFFFF;opacity: 0.7; ">预警温度（&#8451;）</div>
                <div style="font-size: 35px;color:#FEFFFF;font-weight: 800;" id="tableWarningTempSet">－</div>
            </div>
        </div>
    </div>
    <!-- 弹框 -->
    <div class="am-modal am-modal-no-btn" tabindex="-1" id="loginModel">
        <div class="am-modal-dialog" style="background-color: #fff;z-index: 9999;">
            <div class="am-modal-hd">
                <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
            </div>
            <div class="am-modal-bd" style="z-index: 9999;">
                <div class="login-box">
                    <div class="lb-header">
                        <a href="#" class="active" id="login-box-link">登陆</a>
                        <a href="#" id="signup-box-link">注册</a>
                    </div>
                    <%- message %>
                        <!--         
                    <div class="social-login">
                        <a href="#">
                            <i class="fa fa-facebook fa-lg"></i> Login in with facebook
                        </a>
                        <a href="#">
                            <i class="fa fa-google-plus fa-lg"></i> log in with Google
                        </a>
                    </div> 
                    -->
                        <form class="phone-login" action="login" method="POST" data-am-validator id="loginPannel" onsubmit="return false">
                            <fieldset>
                                <div class="u-form-group">
                                    <input type="text" placeholder="手机号码" pattern="^1((3|5|8){1}\d{1}|70)\d{8}$" id="loginphoneNum" name="loginphoneNum" data-validation-message="请输入正确的手机号码" required/>
                                </div>
                                <div class="u-form-group">
                                    <input type="password" placeholder="密码" id="loginPwd" name="loginPwd" data-validation-message="请输入密码" required/>
                                </div>
                                <div class="u-form-group">
                                    <button type="submit">登 陆</button>
                                </div>
                                <!-- <div class="u-form-group">
                                <a href="#" class="forgot-password">忘记密码?</a>
                            </div> -->
                            </fieldset>
                        </form>
                        <form class="phone-signup" action="regist" method="POST" data-am-validator id="registPannel">
                            <fieldset>
                                <div class="u-form-group">
                                    <input type="text" placeholder="手机号码" pattern="^1((3|5|8){1}\d{1}|70)\d{8}$" id="registPhoneNum" name="registPhoneNum" data-validation-message="请输入正确的手机号码" required/>
                                </div>
                                <div class="u-form-group" style="position: relative;">
                                    <input type="text" placeholder="短信验证码" id="registCode" name="registCode" data-validation-message="请输入验证码" required/>
                                    <button class="am-btn am-btn-block" style="position: absolute;top: 7px;right: 18px;line-height: 20px;font-size: 10px;width: 80px;padding: 5px;margin: 0;height: 30px;" id="getRegistCode">获取验证码</button>
                                </div>
                                <div class="u-form-group">
                                    <input type="password" placeholder="密码" id="registPwd" name="registPwd" data-validation-message="请输入密码" required/>
                                </div>
                                <div class="u-form-group">
                                    <input type="password" placeholder="确认密码" id="registPwdConfirm" name="registPwdConfirm" data-equal-to="#registPwd" data-validation-message="请输入一样的密码" required/>
                                </div>
                                <div class="u-form-group">
                                    <button type="submit">注 册</button>
                                </div>
                            </fieldset>
                        </form>
                </div>
            </div>
        </div>
    </div>
    <!--[if lt IE 9]>
    <script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
    <script src="http://cdn.amazeui.org/amazeui/2.6.1/js/amazeui.ie8polyfill.min.js"></script>
    <![endif]-->
    <!--[if (gte IE 9)|!(IE)]><!-->
    <!-- <script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script> -->
    <!-- <script src="/javascripts/jquery.min.js"></script> -->
    <!--<![endif]-->
    <!-- <script src="assets/js/amazeui.min.js"></script> -->
    <!-- <script src="/javascripts/echarts.min.js"></script> -->
    <!-- <script src="/javascripts/jquery.min.js"></script> -->
    <script src="http://cdn.bootcss.com/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/echarts/3.0.0/echarts.min.js"></script>
    <script src="http://cdn.amazeui.org/amazeui/2.6.1/js/amazeui.min.js"></script>
    <script src="/javascripts/openlink.min.js"></script>
    <script src="/javascripts/socket.io-1.4.5.js"></script>
    <script src="/javascripts/index.min.js"></script>
    <script type="text/javascript">
    // $(function() {

    //     $("#login").click(function() {
    //         var phoneNum = $("#loginphoneNum").val();
    //         var password = $("#loginPwd").val();
    //         var data = {
    //             "loginphoneNum": phoneNum,
    //             "loginPwd": password,
    //         };
    //         $.ajax({
    //             url: '/login',
    //             type: 'post',
    //             data: data,
    //             success: function(data, status) {
    //                 if (status == 'success') {
    //                     location.href = '/';
    //                 }
    //             },
    //             error: function(data, status) {
    //                 if (status == 'error') {
    //                     // location.href = 'login';
    //                 }
    //             }
    //         });
    //     });



    // });
    </script>
</body>

</html>
