<!doctype html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>实时温度监测报警系统</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="/images/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="温度监测报警" />
    <link rel="apple-touch-icon-precomposed" href="/images/app-icon72x72@2x.png">
    <meta name="msapplication-TileImage" content="/images/app-icon72x72@2x.png">
    <meta name="msapplication-TileColor" content="#44B47E">
    <!-- Startup Image -->
    <link rel="apple-touch-startup-image" href="/images/startup-640x1096.png">
    <!-- <link rel="stylesheet" href="/stylesheets/amazeui.min.css"> -->
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="stylesheet" href="http://cdn.amazeui.org/amazeui/2.6.1/css/amazeui.min.css">
    <style type="text/css"></style>
</head>

<body class="bkg-norm">
    <!-- 页头 50px -->
    <header data-am-widget="header" class="am-header" style="margin-top: 10px;">
        <div class="am-header-left am-header-nav">
            <!-- <a href="/login" class="" style="color: #FEFFFF;">
                <i class="am-header-icon am-icon-get-pocket"></i>
            </a> -->
            <i class="am-header-icon am-icon-get-pocket am-btn js-modal-open" style="color: #FEFFFF;" id="loginPopBtn"></i>
        </div>
        <h1 class="am-header-title" style="color: #FEFFFF;font-size: 1.8rem;">
            实时温度
            <div style="font-size: 13px;line-height: 14px;" id="ModelSelected">自动模式</div><!-- 正常模式、自动模式、 -->
      </h1>
        <div class="am-header-right am-header-nav" style="right: 20px;color: #FEFFFF;">
            <a href="" class="" style="color: #FEFFFF;">
                <i class="am-header-icon am-icon-share-alt"></i>
            </a>
        </div>
    </header>
    <!-- 实时温度显示 200px-->
    <div class='wrap'>
        <div style="position: absolute;top: 45px;width: 100%;text-align: center;">
            <div style="font-size: 10px;line-height: 20px;opacity: 0.8">摄氏温度 参考值</div>
            <div style="font-size: 40px;line-height: 45px;margin-top: 10px;"><span style="font-size: 50px;font-weight: 700;" id="realTimeCirleTemp">－</span>&#8451;</div>
            <div style="font-size: 12px;line-height: 20px;margin-top: 10px;font-weight: 400;">室内温度</div>
        </div>
        <div class='circle'></div>
        <div class='circle'></div>
        <div class='circle'></div>
        <div class='circle'></div>
        <div class='circle'></div>
    </div>
    <!-- 历史温度曲线图 -->
    <div style="padding: 0 10px;">
        <div style="width: 100%;height: 300px;" id="tempTrendChart"></div>
    </div>
    <!-- 表格显示概览信息 -->
    <div style="width: 100%;margin: 10px 0 20px 0;text-align: center;" id="tableInfo">
        <div class="am-g" style="height: 120px;border: 1px solid #feffff;border-width: 1px 0;">
            <div class="am-u-sm-6" style="height: 100%;border-right: 1px solid #feffff;padding: 30px">
                <div style="font-size: 14px;color:#FEFFFF;opacity: 0.7; ">温度（&#8451;）</div>
                <div style="font-size: 35px;color:#FEFFFF;font-weight: 800;" id="tableRtTemp">－</div>
            </div>
            <div class="am-u-sm-6" style="height: 100%;padding: 30px;">
                <div style="font-size: 14px;color:#FEFFFF;opacity: 0.7; ">湿度（％）</div>
                <div style="font-size: 35px;color:#FEFFFF;font-weight: 800;" id="tableRtHumd">－</div>
            </div>
        </div>
        <div class="am-g" style="height: 120px;border: 1px solid #feffff;border-width: 0 0 1px 0;">
            <div class="am-u-sm-6" style="height: 100%;border-right: 1px solid #feffff;padding: 30px">
                <div style="font-size: 14px;color:#FEFFFF;opacity: 0.7;">平均温度（&#8451;）</div>
                <div style="font-size: 35px;color:#FEFFFF;font-weight: 800;" id="tableAverageTemp">－</div>
            </div>
            <div class="am-u-sm-6" style="height: 100%;padding: 30px;">
                <div style="font-size: 14px;color:#FEFFFF;opacity: 0.7; ">平均温度（％）</div>
                <div style="font-size: 35px;color:#FEFFFF;font-weight: 800;" id="tableAverageHumd">－</div>
            </div>
        </div>
        <div class="am-g" style="height: 120px;border: 1px solid #feffff;border-width: 0 0 1px 0;">
            <div class="am-u-sm-6" style="height: 100%;border-right: 1px solid #feffff;padding: 30px">
                <div style="font-size: 14px;color:#FEFFFF;opacity: 0.7; ">监控位置</div>
                <div style="font-size: 16px;color:#FEFFFF;font-weight: 600; line-height: 50px;">明理楼机房302</div>
            </div>
            <div class="am-u-sm-6" style="height: 100%;padding: 30px;">
                <div style="font-size: 14px;color:#FEFFFF;opacity: 0.7; ">预警温度（&#8451;）</div>
                <div style="font-size: 35px;color:#FEFFFF;font-weight: 800;" id="tableWarningTempSet">－</div>
            </div>
        </div>
    </div>
    <!-- 弹框 -->
    <div class="am-modal am-modal-no-btn" tabindex="-1" id="loginModel">
        <div class="am-modal-dialog" style="background-color: #fff;z-index: 9999;">
            <div class="am-modal-hd">
                <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
            </div>
            <div class="am-modal-bd" style="z-index: 9999;">
                <div class="login-box">
                    <div class="lb-header">
                        <a href="#" class="active" id="login-box-link">登陆</a>
                        <a href="#" id="signup-box-link">注册</a>
                    </div>
                    <!--         
                    <div class="social-login">
                        <a href="#">
                            <i class="fa fa-facebook fa-lg"></i> Login in with facebook
                        </a>
                        <a href="#">
                            <i class="fa fa-google-plus fa-lg"></i> log in with Google
                        </a>
                    </div> 
                    -->
                    <form class="phone-login" action="login" method="POST" data-am-validator id="loginPannel">
                        <fieldset>
                            <div class="u-form-group">
                                <input type="text" placeholder="手机号码" pattern="^1((3|5|8){1}\d{1}|70)\d{8}$" id="loginphoneNum" name="loginphoneNum" data-validation-message="请输入正确的手机号码" required/>
                            </div>
                            <div class="u-form-group">
                                <input type="password" placeholder="密码" id="loginPwd" name="loginPwd" data-validation-message="请输入密码" required/>
                            </div>
                            <div class="u-form-group">
                                <button type="submit">登 陆</button>
                            </div>
                            <div class="u-form-group">
                                <a href="#" class="forgot-password">忘记密码?</a>
                            </div>
                        </fieldset>
                    </form>
                    <form class="phone-signup" action="regist" method="POST" data-am-validator id="registPannel">
                        <fieldset>
                            <div class="u-form-group">
                                <input type="text" placeholder="手机号码" pattern="^1((3|5|8){1}\d{1}|70)\d{8}$" id="registPhoneNum" name="registPhoneNum" data-validation-message="请输入正确的手机号码" required/>
                            </div>
                            <div class="u-form-group" style="position: relative;">
                                <input type="text" placeholder="短信验证码" id="registCode" name="registCode" data-validation-message="请输入验证码" required/>
                                <button class="am-btn am-btn-block" style="position: absolute;top: 7px;right: 18px;line-height: 20px;font-size: 10px;width: 80px;padding: 5px;margin: 0;height: 30px;" id="getRegistCode">获取验证码</button>
                            </div>
                            <div class="u-form-group">
                                <input type="password" placeholder="密码" id="registPwd" name="registPwd" data-validation-message="请输入密码" required/>
                            </div>
                            <div class="u-form-group">
                                <input type="password" placeholder="确认密码" id="registPwdConfirm" name="registPwdConfirm" data-equal-to="#registPwd" data-validation-message="请输入一样的密码" required/>
                            </div>
                            <div class="u-form-group">
                                <button type="submit">注 册</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--[if lt IE 9]>
    <script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
    <script src="http://cdn.amazeui.org/amazeui/2.6.1/js/amazeui.ie8polyfill.min.js"></script>
    <![endif]-->
    <!--[if (gte IE 9)|!(IE)]><!-->
    <script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
    <!--<![endif]-->
    <!-- <script src="assets/js/amazeui.min.js"></script> -->
    <!-- <script src="/javascripts/echarts.min.js"></script> -->
    <script src="http://cdn.bootcss.com/echarts/3.0.0/echarts.min.js"></script>
    <script src="http://cdn.amazeui.org/amazeui/2.6.1/js/amazeui.min.js"></script>
    <script src="/javascripts/openlink.js"></script>
    <script src="/javascripts/socket.io-1.4.5.js"></script>
    <!-- <script src="/javascripts/index.js"></script> -->
    <script type="text/javascript">
    //////////////////////////////
    //          图表
    /////////////////////////////
    //图表
    var dom = document.getElementById("tempTrendChart");
    var myChart = echarts.init(dom);


    var echartsDataxAxis = []
    var echartsDatatemp = [];
    var echartsDatahumity = [];

    //////////////////////
    //  获取数据库中的数据
    $.ajax({
        url: '/getAllTempAndHumityInofo',
        type: 'get',
        error: function() {
            console.log('获取图表温湿度信息出错！');
        },
        success: function(data) {
            console.log('温湿度信息：' + data);
            // [{"_id":"5723326033cdc93f4ded5694","pt":26,"ph":43,"__v":0,"t":"2016-04-29T10:07:28.073Z","sl":"实验室"},
            // {"_id":"5723326133cdc93f4ded5695","pt":26,"ph":43,"__v":0,"t":"2016-04-29T10:07:29.154Z","sl":"实验室"},
            // {"_id":"5723326233cdc93f4ded5696","pt":26,"ph":43,"__v":0,"t":"2016-04-29T10:07:30.691Z","sl":"实验室"}]

            // echartData
            for (var i = 0; i < data.length; i++) {
                // 温度、湿度分开
                echartsDataxAxis.push(data[i].t);
                echartsDatatemp.push(data[i].pt);
                echartsDatahumity.push(data[i].ph);
            }


            if (option && typeof option === "object") {
                myChart.setOption(option, true);
            }
        }
    });


    var option = {
        tooltip: {
            trigger: 'axis'
                // formatter: function(params) {
                //     params = params[0];
                //     var date = new Date(params.name);
                //     return date.getDate() + '/' + (date.getMonth() + 1) + '/' + date.getFullYear() + ' : ' + params.value[1];
                // },
                // axisPointer: {
                //     animation: false
                // },
                // textStyle: {
                //     color: '#feffff'
                // },
                // axisPointer: {
                //     lineStyle: {
                //         color: '#feffff',
                //         opacity: 0.4
                //     }
                // }
        },
        xAxis: {
            type: 'time',
            splitLine: {
                show: false
            },
            axisTick: {
                show: false,
                lineStyle: {
                    color: '#feffff'
                }
            },
            axisLabel: {
                // show: false,
                textStyle: {
                    color: '#feffff'
                }
            },
            axisLine: {
                show: false
            },
            data: echartsDataxAxis
        },
        yAxis: {
            type: 'value',
            boundaryGap: [0, '100%'],
            splitLine: {
                show: false
            },
            axisTick: {
                show: false,
                lineStyle: {
                    color: '#feffff'
                }
            },
            axisLabel: {
                // show: false,
                textStyle: {
                    color: '#feffff'
                }
            },
            axisLine: {
                show: false
            }

        },
        series: [{
            // name: '模拟数据',
            // type: 'line',
            // showSymbol: false,
            // hoverAnimation: false,
            // data: [{
            name: '温度',
            data: echartsDatatemp
        }, {
            name: '湿度',
            data: echartsDatahumity
                // }]
                // makePoint: {},
                // markLine: {
                //     data: [{
                //         type: 'average',
                //         name: '平均值'
                //     }]
                // }
        }],
        // splitLine: {
        //     lineStyle: {
        //         // 使用深浅的间隔色
        //         color: ['#FEFFFF', '#FEFFFF']
        //     }
        // },
        color: ['#FEFFFF']
    };

    // setInterval(function() {

    //     for (var i = 0; i < 5; i++) {
    //         data.shift();
    //         data.push(randomData());
    //     }

    //     myChart.setOption({
    //         series: [{
    //             data: data
    //         }]
    //     });
    // }, 1000);

    if (option && typeof option === "object") {
        myChart.setOption(option, true);
    }

    //自适应变化
    window.addEventListener("resize", function() {
        myChart.resize();
    });



    ////////////////////////////////////////////////
    //判断是否登陆，获取用户信息
    var UserInfo = {}

    $.ajax({
        url: '/getUserInofo',
        type: 'get',
        error: function() {
            console.log('获取用户信息出错！');
        },
        success: function(data) {
            // console.log(data);
            if (data == 'error') {
                console.log('用户没有登录')
            } else {
                var UserInfo = data;
                console.log('用户信息：' + UserInfo);
                console.log('用户' + UserInfo.PhoneNum + '已经登录');

                if (UserInfo.WarningLock == 'true') {
                    $("#ModelSelected").text('监控模式');
                } else {
                    $("#ModelSelected").text('自动模式');
                }

                if (UserInfo.WarningTemp) {
                    $("#tableWarningTempSet").text(UserInfo.WarningTemp);
                }


            }
        }
    });



    ///////////////////////////////////////////////////////////////
    //长连接socket.io
    var socket = io.connect('http://chenchao.ngrok.natapp.cn');

    socket.on('realTimeTAndH', function(data) {

        console.log(data);

        // date:"2016-05-05T11:54:51.180Z"
        // humidity:"47.0"
        // temperature:"27.0"


        // echartData.shift();
        // echartData.push(data);

        // myChart.setOption({
        //     series: [{
        //         data: echartData
        //     }]
        // });



        document.getElementById("realTimeCirleTemp").innerHTML = data.temperature;
        document.getElementById("tableRtTemp").innerHTML = data.temperature;
        document.getElementById("tableRtHumd").innerHTML = data.humidity;


        //body背景颜色改变 
        if (UserInfo.WarningTemp && data.temperature >= UserInfo.WarningTemp) {

            $("body").removeClass("bkg-norm");
            $("body").addClass("bkg-warning");
        } else {
            $("body").removeClass("bkg-warning");
            $("body").addClass("bkg-norm");
        }



    });



    //////////////////////////////////////////////////////////////

    $(".phone-login").show();
    $(".phone-signup").hide();

    // 验证码模块
    $("#getRegistCode").click(function() {

        var phoneNum = $('#registPhoneNum').val();

        function checkMobile(str) {
            var re = /^1((3|5|8){1}\d{1}|70)\d{8}$/
            if (re.test(str)) {
                return true;
            } else {
                return false;
            }
        }

        if (checkMobile(phoneNum)) {
            $.ajax({
                url: '/getRegistCode',
                type: 'post',
                data: {
                    'phoneNum': phoneNum
                },
                error: function() {
                    alert('error');
                },
                success: function(data) {
                    $("#getRegistCode").text('已发送！');
                    $("#getRegistCode").addClass('am-disabled');
                }
            });
        }
    });

    //////////////////////////////////////
    //          登陆注册表单验证
    //////////////////////////////////////
    $("#signup-box-link").click(function() {
        $(".phone-login").fadeOut(100);
        $(".phone-signup").delay(100).fadeIn(100);
        $("#login-box-link").removeClass("active");
        $("#signup-box-link").addClass("active");
    });

    $("#login-box-link").click(function() {
        $(".phone-login").delay(100).fadeIn(100);;
        $(".phone-signup").fadeOut(100);
        $("#login-box-link").addClass("active");
        $("#signup-box-link").removeClass("active");
    });
    /////////////////////////////////
    ////        表单验证
    /////////////////////////////////
    $('#loginPannel').validator({
        onValid: function(validity) {
            $(validity.field).closest('.u-form-group').find('.am-alert').hide();
        },
        onInValid: function(validity) {
            var $field = $(validity.field);
            var $group = $field.closest('.u-form-group');
            var $alert = $group.find('.am-alert');
            // 使用自定义的提示信息 或 插件内置的提示信息
            var msg = $field.data('validationMessage') || this.getValidationMessage(validity);
            if (!$alert.length) {
                $alert = $('<div class="am-alert am-alert-danger" style="width: 90%;max-width: 300px;margin:5px auto;font-size:12px;line-height:12px;padding:7px;"></div>').hide().
                appendTo($group);
            }
            $alert.html(msg).show();
        }
    });

    $('#registPannel').validator({
        onValid: function(validity) {
            $(validity.field).closest('.u-form-group').find('.am-alert').hide();
        },
        onInValid: function(validity) {
            var $field = $(validity.field);
            var $group = $field.closest('.u-form-group');
            var $alert = $group.find('.am-alert');
            // 使用自定义的提示信息 或 插件内置的提示信息
            var msg = $field.data('validationMessage') || this.getValidationMessage(validity);
            if (!$alert.length) {
                $alert = $('<div class="am-alert am-alert-danger" style="width: 90%;max-width: 300px;margin:5px auto;font-size:12px;line-height:12px;padding:7px;"></div>').hide().
                appendTo($group);
            }
            $alert.html(msg).show();
        }
    });


    /////////////////////////
    //          登陆注册弹框
    /////////////////////////
    var $modal = $('#loginModel');

    $('#loginPopBtn').on('click', function(e) {

        var $target = $(e.target);

        if (UserInfo.PhoneNum) {
            location.href = '/setting';
        } else {
            if (($target).hasClass('js-modal-open')) {
                $modal.modal();
                $("#getRegistCode").removeClass('am-disabled');
                $("#getRegistCode").text('获取验证码');
            }
        }
    });
    /////////////////////////////////
    </script>
</body>

</html>
