<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>系统设置</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="/images/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="设置－温度监测报警" />
    <link rel="apple-touch-icon-precomposed" href="/images/app-icon72x72@2x.png">
    <meta name="msapplication-TileImage" content="/images/app-icon72x72@2x.png">
    <meta name="msapplication-TileColor" content="#0e90d2">
    <link rel="stylesheet" type="text/css" href="http://cdn.amazeui.org/amazeui/2.6.1/css/amazeui.min.css">
    <link href="http://cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <style type="text/css">
    body {
        background-color: #44B47E;
    }
    
    .am-form-label {
        font-size: 14px;
        font-weight: 500;
    }
    
    .am-form-group input {
        max-width: 300px;
        font-size: 14px;
    }
    
    .am-form-group button {
        max-width: 300px;
    }
    </style>
</head>

<body>
    <!-- 页头 50px -->
    <header data-am-widget="header" class="am-header" style="margin: 10px 0;">
        <div class="am-header-left am-header-nav">
            <a href="/" class="am-btn" style="color: #FEFFFF;">
                <i class="am-header-icon am-icon-arrow-left"></i>
            </a>
        </div>
        <h1 class="am-header-title" style="color: #FEFFFF;font-size: 1.8rem;">设置</h1>
    </header>
    <!-- 设置信息 -->
    <div class="am-g" style="background-color:#FEFFFF;padding: 50px 10px;">
        <form class="am-form am-form-horizontal" action="setting" method="POST">
            <div class="am-form-group">
                <label for="userPhone" class="am-u-sm-3 am-u-md-5 am-form-label">推送手机</label>
                <div class="am-u-sm-9 am-u-md-7">
                    <input type="text" id="userPhone" placeholder="手机号码" readonly="readonly" style="font-size: 14px;">
                </div>
            </div>
            <div class="am-form-group">
                <label for="userTempSet" class="am-u-sm-3 am-u-md-5 am-form-label">预警温度</label>
                <div class="am-u-sm-9 am-u-md-7">
                    <input type="number" id="userTempSet" name="userTempSet" placeholder="输入报警的温度值" style="font-size: 14px;">
                </div>
            </div>
            <div class="am-form-group">
                <label for="userTempLock" class="am-u-sm-3 am-u-md-5 am-form-label">预警开关</label>
                <div class="am-u-sm-9 am-u-md-7">
                    <div class="am-radio">
                        <label>
                            <input type="radio" name="userTempLock" value='true' style="font-size: 14px;"> 开启推送
                        </label>
                    </div>
                    <div class="am-radio">
                        <label>
                            <input type="radio" name="userTempLock" value='false' style="font-size: 14px;"> 关闭推送
                        </label>
                    </div>
                </div>
            </div>
            <div class="am-form-group">
                <label for="userRegistTime" class="am-u-sm-3 am-u-md-5 am-form-label">注册时间</label>
                <div class="am-u-sm-9 am-u-md-7">
                    <input type="text" id="userRegistTime" readonly="readonly" style="font-size: 14px;">
                </div>
            </div>
            <div class="am-form-group" style="margin: 30px 0;">
                <button type="submit" class="am-btn am-u-sm-6 am-u-sm-push-3 am-u-md-5 am-u-md-push-5" style="background-color: #44B47E;color: #feffff;">保存修改</button>
            </div>
        </form>
        <!-- <div style="margin: 20px auto;text-align: center;font-size: 14px;color: #44B47E;">系统说明</div> -->
    </div>
    <script src="http://cdn.bootcss.com/jquery/1.12.0/jquery.min.js"></script>
    <!-- <script src="/javascripts/jquery.min.js"></script> -->
    <script src="http://cdn.amazeui.org/amazeui/2.6.1/js/amazeui.min.js"></script>
    <script type="text/javascript">
    var UserInfo = {}
    $.ajax({
        url: '/getUserInofo',
        type: 'get',
        error: function() {
            console.log('用户信息获取失败....')
        },
        success: function(data) {
            if (data == 'null') {
                console.log('用户信息获取失败....')
            } else {
                UserInfo = data;
                // console.log(UserInfo);
                if (UserInfo.WarningLock == 'true') {
                    $("input[name='userTempLock']").get(0).checked = true;
                    $("input[name='userTempLock']").get(1).checked = false;
                } else if (UserInfo.WarningLock == 'false') {
                    $("input[name='userTempLock']").get(0).checked = false;
                    $("input[name='userTempLock']").get(1).checked = true;
                }
                $('#userPhone').val(UserInfo.PhoneNum);
                $('#userTempSet').val(UserInfo.WarningTemp);
                $('#userRegistTime').val(UserInfo.UserCreateTime.slice(0,10));
            }
        }
    });
    </script>
</body>

</html>
