.bkg-norm {
    background-color: #44B47E;
    /*background-color: #FD7F50;*/
    /*-webkit-animation: circlespin 30s ease-in-out alternate infinite;
        -moz-animation: circlespin 30s ease-in-out alternate infinite;
        animation: circlespin 30s ease-in-out alternate infinite;*/
}

.bkg-warning {
    background-color: #FD7F50;
}


/*实时显示圆圈*/

.wrap {
    width: 200px;
    height: 200px;
    margin: 40px auto;
    position: relative;
    -webkit-perspective: 4000px;
    -moz-perspective: 4000px;
    perspective: 4000px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    color: rgba(254, 255, 255, 1.00);
}

.circle {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    opacity: 0;
    width: 200px;
    height: 200px;
    /*border: 2px dotted rgba(0, 0, 0, 0.8);*/
    border: 2px dotted rgba(254, 255, 255, 0.8);
    border-radius: 150px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: circlespin 30s ease-in-out alternate infinite;
    -moz-animation: circlespin 30s ease-in-out alternate infinite;
    animation: circlespin 30s ease-in-out alternate infinite;
}

.circle:nth-of-type(1) {
    -webkit-animation-delay: 500ms;
    -moz-animation-delay: 500ms;
    animation-delay: 500ms;
}

.circle:nth-of-type(2) {
    -webkit-animation-delay: 1000ms;
    -moz-animation-delay: 1000ms;
    animation-delay: 1000ms;
}

.circle:nth-of-type(3) {
    -webkit-animation-delay: 1500ms;
    -moz-animation-delay: 1500ms;
    animation-delay: 1500ms;
}

.circle:nth-of-type(4) {
    -webkit-animation-delay: 2000ms;
    -moz-animation-delay: 2000ms;
    animation-delay: 2000ms;
}

.circle:nth-of-type(5) {
    -webkit-animation-delay: 2500ms;
    -moz-animation-delay: 2500ms;
    animation-delay: 2500ms;
}

@-webkit-keyframes circlespin {
    0% {
        -webkit-transform: rotateY(0deg) rotateX(0deg);
        opacity: 1;
    }
    25% {
        -webkit-transform: rotateY(180deg) rotateX(360deg);
    }
    50% {
        -webkit-transform: rotateY(540deg) rotateX(540deg);
    }
    75% {
        -webkit-transform: rotateY(720deg) rotateX(900deg);
    }
    100% {
        -webkit-transform: rotateY(900deg) rotateX(1080deg);
        opacity: 1;
    }
}

@-moz-keyframes circlespin {
    0% {
        -moz-transform: rotateY(0deg) rotateX(0deg);
        opacity: 1;
    }
    25% {
        -moz-transform: rotateY(180deg) rotateX(360deg);
    }
    50% {
        -moz-transform: rotateY(540deg) rotateX(540deg);
    }
    75% {
        -moz-transform: rotateY(720deg) rotateX(900deg);
    }
    100% {
        -moz-transform: rotateY(900deg) rotateX(1080deg);
        opacity: 1;
    }
}

@keyframes circlespin {
    0% {
        -webkit-transform: rotateY(0deg) rotateX(0deg);
        -moz-transform: rotateY(0deg) rotateX(0deg);
        -ms-transform: rotateY(0deg) rotateX(0deg);
        -o-transform: rotateY(0deg) rotateX(0deg);
        transform: rotateY(0deg) rotateX(0deg);
        opacity: 1;
    }
    25% {
        -webkit-transform: rotateY(180deg) rotateX(360deg);
        -moz-transform: rotateY(180deg) rotateX(360deg);
        -ms-transform: rotateY(180deg) rotateX(360deg);
        -o-transform: rotateY(180deg) rotateX(360deg);
        transform: rotateY(180deg) rotateX(360deg);
    }
    50% {
        -webkit-transform: rotateY(540deg) rotateX(540deg);
        -moz-transform: rotateY(540deg) rotateX(540deg);
        -ms-transform: rotateY(540deg) rotateX(540deg);
        -o-transform: rotateY(540deg) rotateX(540deg);
        transform: rotateY(540deg) rotateX(540deg);
    }
    75% {
        -webkit-transform: rotateY(720deg) rotateX(900deg);
        -moz-transform: rotateY(720deg) rotateX(900deg);
        -ms-transform: rotateY(720deg) rotateX(900deg);
        -o-transform: rotateY(720deg) rotateX(900deg);
        transform: rotateY(720deg) rotateX(900deg);
    }
    100% {
        -webkit-transform: rotateY(900deg) rotateX(1080deg);
        -moz-transform: rotateY(900deg) rotateX(1080deg);
        -ms-transform: rotateY(900deg) rotateX(1080deg);
        -o-transform: rotateY(900deg) rotateX(1080deg);
        transform: rotateY(900deg) rotateX(1080deg);
        opacity: 1;
    }
}



/*登陆注册模块*/

.am-modal-no-btn .am-modal-footer{
    display: block;
}

.lb-header {
    position: relative;
    color: #00415d;
    margin: 5px 5px 10px 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    text-align: center;
    height: 28px;

}

.lb-header a {
    margin: 0 15px;
    padding: 0 10px;
    text-decoration: none;
    color: #666;
    font-weight: bold;
    font-size: 12px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.lb-header .active {
    color: #44B47E;
    font-size: 16px;
}

.social-login {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    padding: 10px 0 15px 0;
    border-bottom: 1px solid #eee;
}

.social-login a {
    position: relative;
    float: left;
    width: calc(40% - 8px);
    text-decoration: none;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.05);
    padding: 12px;
    border-radius: 2px;
    font-size: 12px;
    text-transform: uppercase;
    margin: 0 3%;
    text-align: center;
}

.social-login a i {
    position: relative;
    float: left;
    width: 20px;
    top: 2px;
}

.social-login a:first-child {
    background-color: #49639F;
}

.social-login a:last-child {
    background-color: #DF4A32;
}

.phone-login,
.phone-signup {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    margin-top: 20px;
    text-align: center;
}

.u-form-group {
    width: 100%;
    margin-bottom: 20px;
}

.u-form-group input {
    width: 90%;
    max-width: 300px;
    height: 46px;
    outline: none;
    border: 1px solid #ddd;
    padding: 0 10px;
    border-radius: 2px;
    color: #333;
    font-size: 1.4rem;
    // font-size: 0.8rem;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.u-form-group input:focus {
    border-color: #44B47E;
}

.u-form-group button {
    width: 50%;
    background-color: #44B47E;
    border: none;
    outline: none;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    padding: 14px 0;
    margin-bottom: 20px;
    border-radius: 2px;
    text-transform: uppercase;
}

.forgot-password {
    width: 50%;
    text-align: left;
    text-decoration: underline;
    color: #888;
    font-size: 0.75rem;
}
